*
{
    background-color: #3090C7;
    color:#f9f9f9;
    font-style: italic;
    margin-top: 20px;
}
body{
    font-family: cursive;
}
h1{
    text-align: center;
}
.img
{   
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}

span{
    color:#E799A3;
}


